<h1>Welcome to ProjectBox.</h1>
<p> <h4>Find out what&#8217;s happening, right now, with managers and contributors you care about.</h4></p>

<p>
Don't have an account? <%= link_to "sign up", new_user_path %>
</p>

<%= form_tag sessions_path do %>
        <div>
          <input type="text" class="text-input email-input" name="session[email]" title="Email" autocomplete="on">
          <span class="placeholder">Email</span>
        </div>

        <table>
          <tbody>
            <tr>
                <div >
                  <input type="password" class="text-input" name="session[password]" title="Password">
                  <span class="placeholder">Password</span>
                </div>
            </tr>
          <tr>
             <td>
                <p class="button"><%= submit_tag "Sign in", :class => 'btn btn-primary' %>
              </td>
          </tr>
          </tbody>
        </table>

<% end %>

